.let-in-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.let-in {
  width: 503px;
  height: 379px;
  border-radius: 44px;
  background-color: #e990f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.let-in__logo {
  width: 160px;
  height: 150px;
}

.let-in__logo-img {
  width: 100%;
  height: 100%;
}

.let-in__btn {
  width: 151px;
  height: 60px;
  margin-top: 56px;
  border-radius: 36px;
  border: solid 3px #ffffff;
  color: white;
  background: #e990f9;
  cursor: pointer;
}

@media (max-width: 544px) {
  .let-in {
    background-color: white;
  }

  .let-in__btn {
    color: #e990f9;
    background: white;
    border: solid 3px #e990f9;
  }
}
